# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


Libs/CommonUtilities_Debug.lib
Libs/CommonUtilities_Release.lib
Libs/DL_Debug_Debug.lib
Libs/DL_Debug_Release.lib
Libs/Engine_Debug.lib
Libs/Engine_Release.lib
Libs/Game_Debug.lib
Libs/Game_Release.lib
Libs/InputWrapper_Debug.lib
Libs/InputWrapper_Release.lib
Libs/Timer_Debug.lib
Libs/Timer_Release.lib
Libs/Effects11_Debug.lib
Libs/Effects11_Release.lib
Libs/libfbxsdk-md_Debug.lib
Libs/libfbxsdk-md_Release.lib

*.ipch
*.cache

*.sdf
Solution/ProjectName.opensdf
temp/
Workbed/log/
*.psess
*.suo
*.pdb
Workbed/Application_Debug.ilk
Workbed/
Solution/Launcher/obj/

Tools/LogReader/LogReader/LogReader/obj/
Tools/LogReader/LogReader_temp/obj/
Tools/ModelViewer/ModelViewer/obj/