# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ilk
*.pdb
*.config


*.ipch
*.cache

*.sdf
Solution/ProjectName.opensdf
temp/
Workbed/log/
*.psess
*.suo
*.pdb
Solution/Launcher/obj/

Tools/LogReader/LogReader/LogReader/obj/
Tools/LogReader/LogReader_temp/obj/
Tools/ModelViewer/ModelViewer/obj/
/Workbed/Data/resources/model/Dice/maya 2015-11-11 10-29-56-43.avi
